@model IEnumerable<ECommerce.Data.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._SubCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._SubCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
           <img src="@item.PicturePath" width="100;" height="100"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @*@Html.ActionLink("Düzenle","Edit","Product",new { area="Admin",id=item.ID}) |*@

            <a href="/Admin/Product/Edit/@item.ID">Düzenle</a> |

            <a href="/Admin/Product/Delete/@item.ID">Sil</a>

            @*<a href="@Url.Action("Edit","Product",new {id=item.ID,area="Admin" })">Düzenle</a>*@

            @*@Html.ActionLink("Sil", "Delete","Product",null, new {area="Admin", id=item.ID })*@
        </td>
    </tr>
}

</table>
